.RData
ICC-einsEU.pdf
ICC-fuenfCH.pdf
ICC-fuenfEU.pdf
ICC-sechsCH.pdf
ICC-sechsEU.pdf
ICC-vierCH.pdf
ICC-vierEU.pdf
ICC-zweiCH.pdf
ICC-zweiEU.pdf
ICC.log
ICC.synctex.gz
ICC-Andre.pdf
ICC-Christian.pdf
ICC-Freddy.pdf
ICC-Hannah.pdf
ICC-Joel.pdf
ICC-Manfred.pdf
ICC-Nicolas.pdf
ICC-Raphael.pdf
ICC-concordance.tex
ICC-dreiCH.pdf
ICC-dreiEU.pdf
ICC-einsCH.pdf
ICC.tex
Tests.xlsx
.Rhistory
